USE [DAW]
GO
/****** Object:  View [dbo].[V_PERSONAS]    Script Date: 27/05/2022 15:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_PERSONAS]
AS
	SELECT	NOMBRE,
		APELLIDO
	FROM PERSONAS
	
GO
