USE [DAW]
GO
/****** Object:  View [dbo].[V_PERSONAS_TRABAJADORES]    Script Date: 27/05/2022 15:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[V_PERSONAS_TRABAJADORES]
AS
SELECT	
		P.ID_PERSONA,
		NOMBRE,
		APELLIDO,
		EDAD,
		ID_TRABAJADOR
FROM	PERSONAS P
		INNER JOIN TRABAJADORES T
		ON T.ID_PERSONA = P.ID_PERSONA
GO
