USE [DAW]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_FECHA_GT]    Script Date: 27/05/2022 15:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*-----------------------------------------------------------------------------------------------------------------------------------------------------

	NOMBRE DE LA FUNCIÓN		FN_GET_GEOGRAPHICAL_TIME
	FECHA DE CREACIÓN: 		11/03/2020		
	AUTOR:				A.VINAS
	VSS:				RUTA VISUAL SOURCESAFE EJ: BP\CODIGO_SQL\03. FUNCIONES\EDI\DESADV

	FUNCIONAMIENTO:			DEVUELVE LA FECHA EN EL TIMEZONE QUE PASEMOS POR PARAMETRO

	PARAMETROS:			(OPCIONAL)
		TIME_ZONE_DESTINO 	INPUT	NOMBRE DEL TIMEZONE - PODEMOS REVISARLO AQUÍ SELECT * FROM sys.time_zone_info

------------------------------------------------------------------------------------------------------------------------------------------------------*/

CREATE FUNCTION [dbo].[FN_FECHA_GT]
(
	@FECHA			DATETIME,
	@TIME_ZONE_DESTINO	VARCHAR(100)	
)
RETURNS TABLE
RETURN

	SELECT CONVERT(DATETIME, @FECHA AT TIME ZONE 'Romance Standard Time' AT TIME ZONE @TIME_ZONE_DESTINO) FECHA



/*----------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------               PRUEBAS              ------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------


DECLARE @FECHA	DATETIME

SET @FECHA = GETDATE()

PRINT DBO.FN_FECHA_GT(@FECHA, 'China Standard Time')



------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------             FIN PRUEBAS            ------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/
GO
