USE [DAW]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_ENTORNO]    Script Date: 27/05/2022 15:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*-----------------------------------------------------------------------------------------------------------------------------------------------------

	NOMBRE DE LA FUNCIÓN		FN_ENTORNO
	FECHA DE CREACIÓN: 		29/05/2019		
	AUTOR:				O.RODRIGO
	VSS:				ICP/CODIGO_SQL/ICPM/02. FUNCIONES

	FUNCIONAMIENTO:			NOS DEVUELVE EL ENTORNO PARA PODER TRABAJAR CON LOS SERVIDORES. 
		
					A NIVEL GENERAL, LO RECOMENDABLE SERÍA TRABAJAR SIEMPRE CON LAS TABLAS:
						ENTORNOS
						CONEXIONES 
						ENTORNOS_CONEXIONES

------------------------------------------------------------------------------------------------------------------------------------------------------*/

-- ██████╗ ███████╗███████╗████████╗██╗ ██████╗ ███╗   ██╗		██████╗ ███████╗███████╗██████╗ ███████╗		██╗███████╗███████╗██████╗ ██╗   ██╗███████╗██████╗  ██╗   ██╗ ██████╗██████╗ ███╗   ███╗
--██╔════╝ ██╔════╝██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║		██╔══██╗██╔════╝██╔════╝██╔══██╗██╔════╝		██║██╔════╝██╔════╝██╔══██╗██║   ██║██╔════╝██╔══██╗███║   ██║██╔════╝██╔══██╗████╗ ████║
--██║  ███╗█████╗  ███████╗   ██║   ██║██║   ██║██╔██╗ ██║		██║  ██║█████╗  ███████╗██║  ██║█████╗  		██║███████╗█████╗  ██████╔╝██║   ██║█████╗  ██████╔╝╚██║   ██║██║     ██████╔╝██╔████╔██║
--██║   ██║██╔══╝  ╚════██║   ██║   ██║██║   ██║██║╚██╗██║		██║  ██║██╔══╝  ╚════██║██║  ██║██╔══╝  		██║╚════██║██╔══╝  ██╔══██╗╚██╗ ██╔╝██╔══╝  ██╔══██╗ ██║   ██║██║     ██╔═══╝ ██║╚██╔╝██║
--╚██████╔╝███████╗███████║   ██║   ██║╚██████╔╝██║ ╚████║		██████╔╝███████╗███████║██████╔╝███████╗		██║███████║███████╗██║  ██║ ╚████╔╝ ███████╗██║  ██║ ██║██╗██║╚██████╗██║     ██║ ╚═╝ ██║
-- ╚═════╝ ╚══════╝╚══════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝		╚═════╝ ╚══════╝╚══════╝╚═════╝ ╚══════╝		╚═╝╚══════╝╚══════╝╚═╝  ╚═╝  ╚═══╝  ╚══════╝╚═╝  ╚═╝ ╚═╝╚═╝╚═╝ ╚═════╝╚═╝     ╚═╝     ╚═╝

-- ¡¡¡ LOS CAMBIOS QUE SE REALICEN EN ESTA FUNCIÓN TENDRAN EFECTO EN VARIOS SERVIDORES !!!

CREATE FUNCTION [dbo].[FN_ENTORNO]
(
	
)
RETURNS VARCHAR(5)
BEGIN

	DECLARE @ENTORNO  VARCHAR(5)

	SELECT 
		@ENTORNO = ISNULL(ENTORNO,'')
	FROM 
		ICPM.dbo.ENTORNOS_CONEXIONES E 
		LEFT OUTER JOIN ICPM.dbo.ALIAS_SERVIDORES ASE ON E.SERVIDOR = ASE.ALIAS_SERVIDOR
	WHERE 
		(
		     E.SERVIDOR = @@SERVERNAME
		  OR ASE.SERVIDOR = @@SERVERNAME
		)
		
		AND E.BASE_DATOS = DB_NAME() 

	RETURN @ENTORNO

END

/*----------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------               PRUEBAS              ------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------


PRINT DBO.FN_ENTORNO()


------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------             FIN PRUEBAS            ------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/
GO
