USE [DAW]
GO
/****** Object:  StoredProcedure [dbo].[PACE]    Script Date: 27/05/2022 15:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- AUTOR: Edgar
-- FECHA: 13/12/2019
-- DESCRIPCION:	PA que devuelve los posibles resultados de búsqueda de conexiones de servidores, así como su omónimo en desarrollo/producción
-- =============================================


CREATE PROCEDURE [dbo].[PACE]
(
	@BUSQUEDA AS VARCHAR(MAX) = '',
	@INVOKER INT = 0 -- 0: NORMAL -> 1: BÚSQUEDA LITERAL
)
AS
IF @INVOKER = 0
BEGIN
	SELECT 
		C.ID_CONEXION, 
		E.SERVIDOR, 
		E.BASE_DATOS, 
		C.CONEXION
	FROM 
		ICPM.DBO.CONEXIONES C
		INNER JOIN
		ICPM.DBO.ENTORNOS_CONEXIONES E
		ON C.ID_CONEXION = E.ID_CONEXION
	
		LEFT OUTER JOIN ICPM.DBO.ALIAS_SERVIDORES ALS
		ON ALS.ALIAS_SERVIDOR = E.SERVIDOR
	
		LEFT OUTER JOIN 
		(
			SELECT S.SERVIDOR , S.F_BAJA FROM ICPM.DBO.SERVIDORES S
			UNION ALL
			SELECT ALS.ALIAS_SERVIDOR, SS.F_BAJA FROM ICPM.DBO.ALIAS_SERVIDORES ALS 
			INNER JOIN ICPM.DBO.SERVIDORES SS
			ON SS.SERVIDOR = ALS.SERVIDOR
		) M
		ON M.SERVIDOR = E.SERVIDOR
	

	WHERE
		C.CONEXION LIKE '%' + @BUSQUEDA + '%' OR 
		E.BASE_DATOS LIKE '%' + @BUSQUEDA + '%' OR 
		COD_CONEXION LIKE '%' + @BUSQUEDA + '%' OR
		E.SERVIDOR LIKE '%' + @BUSQUEDA + '%' OR
		ALS.SERVIDOR LIKE '%' + @BUSQUEDA + '%'
	AND  ISNULL(M.F_BAJA,GETDATE()+100) >= GETDATE()
	ORDER BY 
		C.ID_CONEXION
END

ELSE

BEGIN
	SELECT 
		C.ID_CONEXION, 
		E.SERVIDOR, 
		E.BASE_DATOS, 
		C.CONEXION
	FROM 
		ICPM.DBO.CONEXIONES C
		INNER JOIN
		ICPM.DBO.ENTORNOS_CONEXIONES E
		ON C.ID_CONEXION = E.ID_CONEXION
	
		LEFT OUTER JOIN ICPM.DBO.ALIAS_SERVIDORES ALS
		ON ALS.ALIAS_SERVIDOR = E.SERVIDOR
	
		LEFT OUTER JOIN 
		(
			SELECT S.SERVIDOR , S.F_BAJA FROM ICPM.DBO.SERVIDORES S
			UNION ALL
			SELECT ALS.ALIAS_SERVIDOR, SS.F_BAJA FROM ICPM.DBO.ALIAS_SERVIDORES ALS 
			INNER JOIN ICPM.DBO.SERVIDORES SS
			ON SS.SERVIDOR = ALS.SERVIDOR
		) M
		ON M.SERVIDOR = E.SERVIDOR
	

	WHERE
		C.CONEXION = @BUSQUEDA OR 
		E.BASE_DATOS = @BUSQUEDA OR
		COD_CONEXION = @BUSQUEDA OR
		E.SERVIDOR = @BUSQUEDA OR
		ALS.SERVIDOR = @BUSQUEDA
	AND  ISNULL(M.F_BAJA,GETDATE()+100) >= GETDATE()
	ORDER BY 
		C.ID_CONEXION
END
GO
