USE [DAW]
GO
/****** Object:  StoredProcedure [dbo].[PAF]    Script Date: 27/05/2022 15:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Autor: Edgar García
-- Fecha: 10/04/2018
-- Mapeo: Javier Rodriguez

CREATE PROCEDURE [dbo].[PAF]
(
	@ENTRADA VARCHAR(800) = ''
)
AS


DECLARE @AUX INT = 0
DECLARE @SQLSTRING NVARCHAR(MAX) = N''

DECLARE @SALIDA1 NVARCHAR(800)
DECLARE @SALIDA2 NVARCHAR(800)
DECLARE @SALIDA3 NVARCHAR(800)
DECLARE @SALIDA4 NVARCHAR(800)
DECLARE @SALIDA5 NVARCHAR(800)
DECLARE @SALIDA6 NVARCHAR(800)

CREATE TABLE #FUENTE
(	INDICE INT IDENTITY(1,1),
	COMENTARIO NVARCHAR(2),
	A NVARCHAR(20),
	B NVARCHAR(20),
	C NVARCHAR(20),
	D NVARCHAR(20),
	E NVARCHAR(20),
	F NVARCHAR(20),
	G NVARCHAR(20),
	H NVARCHAR(20),
	I NVARCHAR(20),
	J NVARCHAR(20),
	K NVARCHAR(20),
	L NVARCHAR(20),
	M NVARCHAR(20),
	N NVARCHAR(20),
	Ñ NVARCHAR(20),
	O NVARCHAR(20),
	P NVARCHAR(20),
	Q NVARCHAR(20),
	R NVARCHAR(20),
	S NVARCHAR(20),
	T NVARCHAR(20),
	U NVARCHAR(20),
	V NVARCHAR(20),
	W NVARCHAR(20),
	X NVARCHAR(20),
	Y NVARCHAR(20),
	Z NVARCHAR(20),
	[0] NVARCHAR(20),
	[1] NVARCHAR(20),
	[2] NVARCHAR(20),
	[3] NVARCHAR(20),
	[4] NVARCHAR(20),
	[5] NVARCHAR(20),
	[6] NVARCHAR(20),
	[7] NVARCHAR(20),
	[8] NVARCHAR(20),
	[9] NVARCHAR(20),
	[!] NVARCHAR(20),
	[#] NVARCHAR(20),
	[$] NVARCHAR(20),
	[%] NVARCHAR(20),
	[&] NVARCHAR(20),
	[(] NVARCHAR(20),
	[)] NVARCHAR(20),
	[*] NVARCHAR(20),
	[,] NVARCHAR(20),
	[-] NVARCHAR(20),
	[.] NVARCHAR(20),
	[/] NVARCHAR(20),
	[:] NVARCHAR(20),
	[;] NVARCHAR(20),
	[<] NVARCHAR(20),
	[>] NVARCHAR(20),
	[?] NVARCHAR(20),
	[@] NVARCHAR(20),
	[_] NVARCHAR(20),
	[ ] NVARCHAR(20),
	[=] NVARCHAR(20),
	[^] NVARCHAR(20)
) 

INSERT INTO #FUENTE (COMENTARIO,A,B,C,D,E,F,G,H,I,J,K,L,M,N,[Ñ],O,P,Q,R,S,T,U,V,W,X,Y,Z,[0],[1],[2],[3],[4],[5],[6],[7],[8],[9],[!],[#],[$],[%],[&],[(],[)],[*],[,],[-],[.],[/],[:],[;],[<],[>],[?],[@],[_],[ ],[=], [^]) 
	SELECT N'--', N' █████╗ ' A, N'██████╗ 'B, N' ██████╗' C, N'██████╗ 'D, N'███████╗'E, N'███████╗'F, N' ██████╗ 'G, N'██╗  ██╗'H, N'██╗'I, N'     ██╗'J, N'██╗  ██╗'K, N'██╗     'L, N'███╗   ███╗'M, N'███╗   ██╗'N,N'   ████╗  ' Ñ, N' ██████╗ 'O, N'██████╗ 'P, N' ██████╗ 'Q, N'██████╗ 'R, N'███████╗'S, N'████████╗'T, N'██╗   ██╗'U, N'██╗   ██╗'V, N'██╗    ██╗'W, N'██╗  ██╗'X, N'██╗   ██╗'Y, N'███████╗' Z, N' ██████╗ '[0], N' ██╗'[1], N'██████╗ '[2], N'██████╗ '[3], N'██╗  ██╗'[4], N'███████╗'[5], N' ██████╗ '[6], N'███████╗' [7], N' █████╗ ' [8], N' █████╗ ' [9], N'██╗' [!], N' ██╗ ██╗ ' [#], N'▄▄███▄▄·' [$], N'██╗ ██╗' [%], N'   ██╗   ' [$], N' ██╗' [(], N'██╗ ' [)], N'      ' [*], N'   ' [,], N'      ' [-], N'   ' [.], N'    ██╗' [/], N'   '[:], N'   ' [;], N'  ██╗' [<], N'██╗  '[>], N'██████╗ ' [?], N' ██████╗ '[@],  N'        ' [_], N'		' [ ],N'        ' [=],N'   ██╗   ' [^]
	UNION ALL																																																																																																								    		      	    
	SELECT N'--', N'██╔══██╗' A, N'██╔══██╗'B, N'██╔════╝' C, N'██╔══██╗'D, N'██╔════╝'E, N'██╔════╝'F, N'██╔════╝ 'G, N'██║  ██║'H, N'██║'I, N'     ██║'J, N'██║ ██╔╝'K, N'██║     'L, N'████╗ ████║'M, N'████╗  ██║'N,N'████╗═╝██╗' Ñ, N'██╔═══██╗'O, N'██╔══██╗'P, N'██╔═══██╗'Q, N'██╔══██╗'R, N'██╔════╝'S, N'╚══██╔══╝'T, N'██║   ██║'U, N'██║   ██║'V, N'██║    ██║'W, N'╚██╗██╔╝'X, N'╚██╗ ██╔╝'Y, N'╚══███╔╝' Z, N'██╔═████╗'[0], N'███║'[1], N'╚════██╗'[2], N'╚════██╗'[3], N'██║  ██║'[4], N'██╔════╝'[5], N'██╔════╝ '[6], N'╚════██║' [7], N'██╔══██╗' [8], N'██╔══██╗' [9],	N'██║' [!], N'████████╗' [#], N'██╔════╝' [$], N'╚═╝██╔╝' [%], N'   ██║   ' [$], N'██╔╝' [(], N'╚██╗' [)], N'▄ ██╗▄' [*], N'   ' [,], N'      ' [-], N'   ' [.], N'   ██╔╝' [/], N'██╗'[:], N'██╗' [;], N' ██╔╝' [<], N'╚██╗ '[>], N'╚════██╗' [?], N'██╔═══██╗'[@], N'        ' [_], N'		' [ ],N'███████╗' [=],N' ██╔═██╗ ' [^]
	UNION ALL																																																																																																								    		      	         
	SELECT N'--', N'███████║' A, N'██████╔╝'B, N'██║     ' C, N'██║  ██║'D, N'█████╗  'E, N'█████╗  'F, N'██║  ███╗'G, N'███████║'H, N'██║'I, N'     ██║'J, N'█████╔╝ 'K, N'██║     'L, N'██╔████╔██║'M, N'██╔██╗ ██║'N,N'██╔██╗ ██║' Ñ, N'██║   ██║'O, N'██████╔╝'P, N'██║   ██║'Q, N'██████╔╝'R, N'███████╗'S, N'   ██║   'T, N'██║   ██║'U, N'██║   ██║'V, N'██║ █╗ ██║'W, N' ╚███╔╝ 'X, N' ╚████╔╝ 'Y, N'  ███╔╝ ' Z, N'██║██╔██║'[0], N'╚██║'[1], N' █████╔╝'[2], N' █████╔╝'[3], N'███████║'[4], N'███████╗'[5], N'███████╗ '[6], N'    ██╔╝' [7], N'╚█████╔╝' [8], N'╚██████║' [9],	N'██║' [!], N'╚██╔═██╔╝' [#], N'███████╗' [$], N'  ██╔╝ ' [%], N'████████╗' [$], N'██║ ' [(], N' ██║' [)], N' ████╗' [*], N'   ' [,], N'█████╗' [-], N'   ' [.], N'  ██╔╝ ' [/], N'╚═╝'[:], N'╚═╝' [;], N'██╔╝ ' [<], N' ╚██╗'[>], N'  ▄███╔╝' [?], N'██║██╗██║'[@], N'        ' [_], N'		' [ ],N'╚══════╝' [=],N'██╔╝ ╚██╗' [^]
	UNION ALL																																																																																																								    		      	    
	SELECT N'--', N'██╔══██║' A, N'██╔══██╗'B, N'██║     ' C, N'██║  ██║'D, N'██╔══╝  'E, N'██╔══╝  'F, N'██║   ██║'G, N'██╔══██║'H, N'██║'I, N'██   ██║'J, N'██╔═██╗ 'K, N'██║     'L, N'██║╚██╔╝██║'M, N'██║╚██╗██║'N,N'██║╚██╗██║' Ñ, N'██║   ██║'O, N'██╔═══╝ 'P, N'██║▄▄ ██║'Q, N'██╔══██╗'R, N'╚════██║'S, N'   ██║   'T, N'██║   ██║'U, N'╚██╗ ██╔╝'V, N'██║███╗██║'W, N' ██╔██╗ 'X, N'  ╚██╔╝  'Y, N' ███╔╝  ' Z, N'████╔╝██║'[0], N' ██║'[1], N'██╔═══╝ '[2], N' ╚═══██╗'[3], N'╚════██║'[4], N'╚════██║'[5], N'██╔═══██╗'[6], N'   ██╔╝ ' [7], N'██╔══██╗' [8], N' ╚═══██║' [9],	N'╚═╝' [!], N'████████╗' [#], N'╚════██║' [$], N' ██╔╝  ' [%], N'██╔═██╔═╝' [$], N'██║ ' [(], N' ██║' [)], N'▀╚██╔▀' [*], N'   ' [,], N'╚════╝' [-], N'   ' [.], N' ██╔╝  ' [/], N'██╗'[:], N'▄█╗' [;], N'╚██╗ ' [<], N' ██╔╝'[>], N'  ▀▀══╝ ' [?], N'██║██║██║'[@], N'        ' [_], N'		' [ ],N'███████╗' [=],N'╚═╝   ╚═╝' [^]
	UNION ALL																																																																																																								    		      	         
	SELECT N'--', N'██║  ██║' A, N'██████╔╝'B, N'╚██████╗' C, N'██████╔╝'D, N'███████╗'E, N'██║     'F, N'╚██████╔╝'G, N'██║  ██║'H, N'██║'I, N'╚█████╔╝'J, N'██║  ██╗'K, N'███████╗'L, N'██║ ╚═╝ ██║'M, N'██║ ╚████║'N,N'██║ ╚████║' Ñ, N'╚██████╔╝'O, N'██║     'P, N'╚██████╔╝'Q, N'██║  ██║'R, N'███████║'S, N'   ██║   'T, N'╚██████╔╝'U, N' ╚████╔╝ 'V, N'╚███╔███╔╝'W, N'██╔╝ ██╗'X, N'   ██║   'Y, N'███████╗' Z, N'╚██████╔╝'[0], N' ██║'[1], N'███████╗'[2], N'██████╔╝'[3], N'     ██║'[4], N'███████║'[5], N'╚██████╔╝'[6], N'   ██║  ' [7], N'╚█████╔╝' [8], N' █████╔╝' [9],	N'██╗' [!], N'╚██╔═██╔╝' [#], N'███████║' [$], N'██╔╝██╗' [%], N'██████║  ' [$], N'╚██╗' [(], N'██╔╝' [)], N'  ╚═╝ ' [*], N'▄█╗' [,], N'      ' [-], N'██╗' [.], N'██╔╝   ' [/], N'╚═╝'[:], N'▀═╝' [;], N' ╚██╗' [<], N'██╔╝ '[>], N'  ██╗   ' [?], N'╚█║████╔╝'[@], N'███████╗' [_], N'		' [ ],N'╚══════╝' [=],N'	   ' [^]
	UNION ALL																																																																																																								     		      	
	SELECT N'--', N'╚═╝  ╚═╝' A, N'╚═════╝ 'B, N' ╚═════╝' C, N'╚═════╝ 'D, N'╚══════╝'E, N'╚═╝     'F, N' ╚═════╝ 'G, N'╚═╝  ╚═╝'H, N'╚═╝'I, N' ╚════╝ 'J, N'╚═╝  ╚═╝'K, N'╚══════╝'L, N'╚═╝     ╚═╝'M, N'╚═╝  ╚═══╝'N,N'╚═╝  ╚═══╝' Ñ, N' ╚═════╝ 'O, N'╚═╝     'P, N' ╚══▀▀═╝ 'Q, N'╚═╝  ╚═╝'R, N'╚══════╝'S, N'   ╚═╝   'T, N' ╚═════╝ 'U, N'  ╚═══╝  'V, N' ╚══╝╚══╝ 'W, N'╚═╝  ╚═╝'X, N'   ╚═╝   'Y, N'╚══════╝' Z, N' ╚═════╝ '[0], N' ╚═╝'[1], N'╚══════╝'[2], N'╚═════╝ '[3], N'     ╚═╝'[4], N'╚══════╝'[5], N' ╚═════╝ '[6], N'   ╚═╝  ' [7], N' ╚════╝ ' [8], N' ╚════╝ ' [9],	N'╚═╝' [!], N' ╚═╝ ╚═╝ ' [#], N'╚═▀▀▀══╝' [$], N'╚═╝ ╚═╝' [%], N'╚═════╝  ' [$], N' ╚═╝' [(], N'╚═╝ ' [)], N'      ' [*], N'╚═╝' [,], N'      ' [-], N'╚═╝' [.], N'╚═╝    ' [/], N'   '[:], N'   ' [;], N'  ╚═╝' [<], N'╚═╝  '[>], N'  ╚═╝   ' [?], N' ╚╝╚═══╝ '[@], N'╚══════╝' [_], N'		' [ ],N'	' [=],N'	   ' [^]



SET @AUX = LEN(@ENTRADA)


DECLARE @TOTALCHAR INT = LEN(@ENTRADA)
DECLARE @CONT INT = @TOTALCHAR

BEGIN TRY

WHILE @CONT >= 1
BEGIN

    IF @CONT % 1 = 0 AND @CONT + 1 <= @TOTALCHAR
    BEGIN
	SET @ENTRADA = STUFF(@ENTRADA, @CONT + 1, 0, ']+[')
    END

    SET @CONT = @CONT - 1
END


SET @SQLSTRING = N'SELECT COMENTARIO + ['+ @ENTRADA + '] FROM #FUENTE'
PRINT @SQLSTRING
EXEC SP_EXECUTESQL @SQLSTRING

END TRY
BEGIN CATCH
	SELECT 'ALGUNO DE LOS CARACTERES ESPECIALES NO ESTÁ MAPEADO, PRUEBE A QUITARLOS'
END CATCH


GO
